/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
header.header.menu_fixed {
  background: rgba(248, 176, 82, 0.79);
}
.m-0auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.white-text {
  color: #ffffff !important;
}

#sign-in-dialog {
  display: block !important;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media(min-width: 600px){
  #sign-in-dialog {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

#autosuggest {
  width: 323px;
  position: relative;
  z-index: 10;
}
#autosuggest > ul {
  position: absolute;
  background: #ffffff;
  border: 1px solid lightgrey;
  width: 100%;
  display: block;
  padding: 4px;
  max-height: 300px;
  overflow: auto;
  -webkit-box-shadow: 0px 10px 21px -11px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 10px 21px -11px rgba(0,0,0,0.75);
          box-shadow: 0px 10px 21px -11px rgba(0,0,0,0.75);
}
#autosuggest > ul > li {
  padding: 6px 15px;
  width: 100%;
  display: block;
  font-size: 11px;
  cursor: pointer;
  border-bottom: 1px solid lightgrey;
}
#autosuggest > ul > li:last-child {
  border-bottom: none;
}
#autosuggest > ul > li:hover {
  background: lightyellow;
  color: grey;
}
#autosuggest > ul::-webkit-scrollbar {
    width: .3em;
}

#autosuggest > ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#autosuggest > ul::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#picked_ings {
  width: 300px;
}
#picked_ings > ul > li {
  padding: 5px 0 5px 0;
}
#picked_ings > ul > li > span.ing {
  color: green;
}
#picked_ings > ul > li > .ctrls {
  float: right;
}
.ctrls > input {
  width: 80px !important;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}
.ctrls > .measuringUnit {
  margin: 0 5px 0 5px;
}
.ctrls > .icon-cancel:hover {
  color: red;
  cursor: pointer;
}

.smallBtn {
  margin-top: 10px;
  padding: 10px;
  background: lightblue;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  transition: all 0.2s ease-in;
  -webkit-box-shadow: 0px 10px 21px -11px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 10px 21px -11px rgba(0,0,0,0.75);
          box-shadow: 0px 10px 21px -11px rgba(0,0,0,0.75);
}
.smallBtn:hover {
background: lightskyblue;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 11px -11px rgba(0,0,0,0.55);
     -moz-box-shadow: 0px 10px 11px -11px rgba(0,0,0,0.55);
          box-shadow: 0px 10px 11px -11px rgba(0,0,0,0.55);
}

#uploadImg {
  margin-top: 30px;
}
#imgPlaceholder {
  min-height: 200px;
  max-height: 300px;
  min-width: 200px;
  max-width: 300px;
}
#inputImg {
  width: 300px;
}
#submitRecipe {
  width: 100%;
}
#submitRecipe.active {
  -webkit-box-shadow: 0px 10px 21px -11px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 10px 21px -11px rgba(0,0,0,0.75);
          box-shadow: 0px 10px 21px -11px rgba(0,0,0,0.75);
}
#submitRecipe.active:hover {
  cursor: pointer;
  transition: all 0.2s ease-in;
  -webkit-box-shadow: 0px 10px 11px -11px rgba(0,0,0,0.55);
     -moz-box-shadow: 0px 10px 11px -11px rgba(0,0,0,0.55);
          box-shadow: 0px 10px 11px -11px rgba(0,0,0,0.55);
}
#submitRecipe.disabled {
  background: rgba(248, 176, 82, 0.79);
  cursor: default;
  -webkit-box-shadow: 0px 10px 21px -11px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 10px 21px -11px rgba(0,0,0,0.75);
          box-shadow: 0px 10px 21px -11px rgba(0,0,0,0.75);
}

.wrapper.recipe-card {
  height: 240px;
  overflow: auto;
}
.wrapper.recipe-card::-webkit-scrollbar {
    width: .3em;
}

.wrapper.recipe-card::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.wrapper.recipe-card::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
